@charset 'utf-8';
@import '@/assets/sass/mixins.scss';
.search_body {
    @include flex-1();
    overflow: auto;
}

.search_body .search_input {
    padding: 8px 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.search_body .search_input_wrapper {
    @include flex();
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    line-height: 20px;
}

.search_body .search_input_wrapper i {
    font-size: 16px;
    padding: 4px 0;
}

.search_body .search_input_wrapper input {
    border: none;
    font-size: 13px;
    color: #333;
    padding: 4px 0;
    outline: none;
    margin-left: 5px;
    width: 100%;
}

.search_body .search_result h3 {
    font-size: 15px;
    color: #999;
    padding: 9px 15px;
    border-bottom: 1px solid #e6e6e6;
}

.search_body .search_result li {
    @include flex();
    border-bottom: 1px #c9c9c9 dashed;
    padding: 10px 15px;
    box-sizing: border-box;
}

.search_body .search_result .img {
    width: 60px;
    float: left;
}

.search_body .search_result .img img {
    width: 100%;
}

.search_body .search_result .info {
    @include flex-1();
    float: left;
    margin-left: 15px;
}

.search_body .search_result .info p {
    @include flex();
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.search_body .search_result .info p:nth-of-type(1) span:nth-of-type(1) {
    @include flex-1();
    font-size: 18px;
}

.search_body .search_result .info p:nth-of-type(1) span:nth-of-type(2) {
    font-size: 16px;
    color: #fc7103;
}