@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
}

html,
body {
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

a:link,
a:active,
a:visited,
a:hover {
    color: black;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/** 参考ionic 解决时延300ms，不能解决点透问题 */
div[tappable],
span[tappable],
ul[tappable],
li[tappable] {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}
[tappable] {
    cursor: pointer
}