@charset 'utf-8';
@import '../assets/sass/mixins.scss';

#main {
    @include flex();
    @include flex-direction(column);
    height: 100%;
}


#content {
    @include flex();
    @include flex-1();
    @include flex-direction(column);
    overflow: hidden;
    margin-bottom: 50px;
}